/* Global Styles */
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #D34937;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px #FD9334 solid;
}

.site-title {
    margin: 0;
    margin-left: 10px;
    color: #FD9334;
    transition: color 0.3s ease;
}

.site-title:hover {
    color: #F8EFEF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #F8EFEF;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 12px;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: #942709;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

/* User Welcome Section */
.user-welcome {
    background-color: #F8EFEF;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.credit-balance,
.rewards {
    flex: 1 1 45%;
    margin-bottom: 20px;
}

/* Credit Balance Section */
.credit-balance {
    margin: 1rem auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    max-width: 600px;
    text-align: center;
    margin-right: 10px;
}

.credit-balance h2 {
    font-size: 2.5rem;
    color: #D34937;
    margin-bottom: 10px;
}

.credit-balance button {
    background-color: #FD9334;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.rewards {
    margin: 15px auto;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    max-width: 600px;
    text-align: left;
}

.rewards h3 {
    margin: 0;
    font-size: 18px;
}

.rewards ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.rewards li {
    margin: 0;
    padding-left: 5px;
}

.rewards li p {
    font-size: 14px;
    border-left: 3px solid #D34937;
    padding: 10px;
    background-color: #F8EFEF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.graph {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

#line_top_x {
    margin: 0 auto;
}